<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejercicio 1 | Evaluación 3</title>
  <link rel="stylesheet" type="text/css" href="/static/css/ejercicio1.css">
  <link rel="icon" href="/static/favicon.png" type="image/x-icon">
</head>

<body>
  <main>
    <div class="container">
      <h1>Formulario de Notas</h1>
      <form action="/ejercicio1" method="POST">
        <label for="nota1">Nota 1:</label>
        <input type="text" id="nota2" name="nota1" required value="{{ formulario[0] }}">
        <label for="nota2">Nota 2:</label>
        <input type="text" id="nota2" name="nota2" required value="{{ formulario[1] }}">
        <label for="nota3">Nota 3:</label>
        <input type="text" id="nota3" name="nota3" required value="{{ formulario[2] }}">
        <label for="asistencia">Asistencia (%):</label>
        <input type="text" id="asistencia" name="asistencia" required value="{{ formulario[3] }}">
        <button type="submit">Enviar</button>
      </form>
      {% if promedio %}
      <div class="respuesta">
        {{"%0.2f" | format(promedio)}}
      </div>
      {% endif %}

      {% if respuesta %}
      <div class="respuesta">
        {{ respuesta }}
      </div>
      {% endif %}

    </div>
  </main>
</body>

</html>